<h1> Enter a stock code:</h1>

<form action="/stocks/results">

<label>
Stock Symbol: <input name="symbol" placeholder="Code e.g. AAPL" required>
</label>
<button type="submit">Submit</button>
</form>