<h1>Edit planet</h1>


<form action="<%= planets_path(@planet.id) %>" method="post">

<label>
Name: 
<input type="text" name="name" required value="<%= @planet.name %>">
</label><br>

<label>
Image:
<input type="url" name="image">
</label><br>

<label>
Orbit:
<input type="number" name="orbit">
</label><br>

<label>
Diameter:
<input type="number" name="diameter">
</label><br>

<label>
Mass:
<input type="number" name="mass">
</label><br>

<label>
Moons:
<input type="number" name="moons">
</label><br>

<button>Submit</button>
</form>