<h1> Enter a book title:</h1>

<form action="/books/results">

<label>
    Book Title: 
    <input name="title" placeholder="Book name" required>
</label>
<button type="submit">Submit</button>

</form>